body{
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

.qr-img{
    border-radius: 5%;
    width: 90%;
    margin: 16px;
}

.qr-code-card{
    margin: auto;
    border-radius: 24px;
}

p{
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding: 5% 7%;
}

h5{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 24px;
    margin: 0;
}